.classes-main {
  background-color: var(--background-color);
  height: 90vh;
  margin-top: 1rem;
}

.form-label {
  margin-top: 1rem;
  margin-left: 2rem;
}

.student-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.student-card {
  display: flex;
  align-items: center;
  width: 32%;
  height: 100px;
  p {
    margin: 0;
  }
  svg {
    height: 75px;
  }
}

.boarder-card {
  width: 25%;
}

.student-in {
  background-color: green;
}

.student-out {
  background-color: #b52626;
}

.student-info {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
}

.student-card-title {
  margin-top: 0;
  font-size: larger;
}